.App {
  text-align: center;
  color: blue;
}
.App h1{
  font-size: 50px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;

}

.display {
  color : rgb(231, 22, 85);
  height : auto;
  width : 600px;
  margin-left : 450px; 
  background: #525959;
  padding : 15px;
}

.direction-enter{
  margin-top : 15px;
  display : block;
  width : 100px; 
  margin-left : 680px; 
}
input, button {
  color : white;
  background : black;
  text-align: center;
  padding : 5px;
  width : 100px;
}
button{
  width : 120px;
  border-radius: 12px;
  margin : 15px;
}

